[submodule "challengegrpc"]
    path = challengegrpc
    url = git@github.com:LucasTI79/challengegrpc.git

[submodule "challengenest"]
    path = challengenest
    url = git@github.com:LucasTI79/challengenest.git